Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "*"
Header always set Access-Control-Allow-Headers "*"
RewriteEngine On
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L] 
<IfModule security2_module>
    <If "-R '130.226.132.96'">
        SecRuleRemoveByTag unoeuro
    </If>
</IfModule>

<IfModule security2_module>
    <If "%{REQUEST_URI} =~ m#/modules/webhook.php#">
        SecRuleRemoveByTag unoeuro
    </if>
</IfModule>